@mixin icon-background ($icon-url){
	background-image: url($icon-url);
		
}

@mixin icon-shape ($size, $padding, $border-radius) {
	border-radius: $border-radius;
	display: inline-table;
	height: $size;
	padding: $padding;
	width: $size;

}
