.sidebar,
body > .navbar-collapse{
    background-position: center center;
    background-size: cover;
    bottom: 0;
    color: #fff;
    display: block;
    font-weight: 200;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 260px;
    z-index: 1;

    .sidebar-wrapper{
        max-height: calc(100vh - 75px);
        min-height: 100%;
        overflow: auto;
        padding-bottom: 20px;
        position: relative;
        width: 260px;
        z-index: 4;
    }

    .sidebar-background{
        background-position: center center;
        background-size: cover;
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .logo{
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding: 10px 15px 9px 15px;
        position: relative;
        z-index: 4;

        p{
            color: $white-color;
            float: left;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 20px;
            line-height: 20px;
            margin: 10px 10px;
        }

        .simple-text{
            align-items: center;
            color: $white-color;
            display: flex;
            font-size: $font-size-large;
            font-weight: $font-weight-normal;
            line-height: 30px;
            padding: $padding-small-vertical $padding-zero;
            text-align: center;
            text-transform: uppercase;

            .logo-img{
              align-items: center;
              background: #fff;
              border-radius: 40px;
              display: inline-flex;
              height: 40px;
              justify-content: center;
              margin-left: 0;
              margin-right: 10px;
              width: 40px;

              img{
                max-width: 21px;
              }
            }
          }
    }

    .logo-tim{
        border: 1px solid #333;
        border-radius: 50%;
        display: block;
        float: left;
        height: 61px;
        overflow: hidden;
        width: 61px;

        img{
            height: 60px;
            width: 60px;
        }
    }

    .nav{
        display: block;
        float: none;
        margin-top: 20px;

        li{
            .nav-link{
                border-radius: 4px;
                color: $white-color;
                display: block;
                margin: 5px 15px;
                opacity: .86;
                padding: 10px 15px;

                &:hover{
                    background: rgba(255, 255, 255, 0.13);
                    opacity: 1;
                }

                p{
                    display: inline-flex;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 31px;
                    margin: 0;
                    text-transform: uppercase;
                }

                i{
                    float: left;
                    font-size: 28px;
                    margin-right: 15px;
                    text-align: center;
                    vertical-align: middle;
                    width: 30px;
                }
            }

            &:hover .nav-link{
                background: rgba(255,255,255,0.13);
                opacity: 1;
            }

            &.active .nav-link{
                background: rgba(255,255,255,0.23);
                color: $white-color;
                opacity: 1;

            }

            &.separator{
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                margin: 15px 0;

                & + .nav-item {
                    margin-top: 31px;
                }
            }

        }



        .caret{
            margin-top: 13px;
            position: absolute;
            right: 30px;
        }

        .active-pro{
            bottom: 10px;
            position: absolute;
            width: 100%;

            a{
                color: $white-color !important;

            }
        }

        .nav-link{
            border-radius: 4px;
            color: $white-color;
            font-size: 12px;
            font-weight: 600;
            line-height: 30px;
            margin: 5px 15px;
            opacity: .86;
            text-transform: uppercase;
        }
    }

    .logo{
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding: $navbar-padding-a;

        p{
            color: $white-color;
            float: left;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 20px;
            line-height: 20px;
            margin: 10px 10px;
        }

        .simple-text{
            align-items: center;
            color: $white-color;
            display: flex;
            font-size: $font-size-large;
            font-weight: $font-weight-normal;
            line-height: 30px;
            padding: $padding-small-vertical $padding-zero;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .logo-tim{
        border: 1px solid #333;
        border-radius: 50%;
        display: block;
        float: left;
        height: 61px;
        overflow: hidden;
        width: 61px;

        img{
            height: 60px;
            width: 60px;
        }
    }

    &:after,
    &:before{
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    &:before{
        background: #000;
        opacity: .33;
    }

    &:after{
       @include icon-gradient($new-purple, $purple-color-bottom);
       opacity: 1;
       z-index: 3;
    }

    &[data-image]:after,
    &.has-image:after{
        opacity: .77;
    }

    &[data-color="black"]:after{
      @include icon-gradient($black-color-top, $black-color-bottom);
    }

    &[data-color="blue"]:after{
        @include icon-gradient($new-dark-blue, $blue-color-bottom);
    }

    &[data-color="azure"]:after{
        @include icon-gradient($new-blue, $azure-color-bottom);
    }

    &[data-color="green"]:after{
        @include icon-gradient($new-green, $green-color-bottom);
    }

    &[data-color="orange"]:after{
        @include icon-gradient($new-orange, $orange-color-bottom);
    }

    &[data-color="red"]:after{
        @include icon-gradient($new-red, $red-color-bottom);
    }

    &[data-color="purple"]:after{
        @include icon-gradient($new-purple, $purple-color-bottom);
    }
}


.main-panel{
    background: rgba(203,203,210,.15);
    float: right;
    min-height: 100%;
    position: relative;
    width: $sidebar-width;

    > .content{
        min-height: calc(100% - 123px);
        padding: 30px 15px;
    }

    > .footer{
        border-top: 1px solid #e7e7e7;
    }

    .navbar{
        margin-bottom: 0;
    }
}

.sidebar,
.main-panel{
    -webkit-overflow-scrolling: touch;
    -webkit-transition-duration: .2s,.2s;
    -webkit-transition-property: top,bottom;
    -webkit-transition-timing-function: linear,linear;
    height: 100%;
    max-height: 100%;
    transition-duration: .2s,.2s;
    transition-property: top,bottom;
    transition-timing-function: linear,linear;
}


.fixed-plugin{

    .dropdown{
        .dropdown-menu{
            @include transform-translate-3d-0(-5%);
            border-radius: 10px;
            li.adjustments-line{
                border-bottom: 1px solid #ddd;
            }

            li{
                padding: 5px 2px !important;
            }

            .button-container{
                a{
                    font-size: 14px;
                }

            &.show{
                @include transform-translate-3d-0(0%);
                left: -303px !important;
                transform-origin: 0 0;
            }
            }

        }
    }

}

.fixed-plugin .dropdown .dropdown-menu{
    @include transform-translate-y-dropdown(-5%);
    left: -303px !important;
    opacity: 0;
    top: -40px !important;
    transform-origin: 0 0;
}

.fixed-plugin .dropdown.show .dropdown-menu{
    left: -303px !important;
    @include transform-translate-y-dropdown(0%);
    opacity: 1;
    transform-origin: 0 0;
}

.fixed-plugin .dropdown-menu:before,
.fixed-plugin .dropdown-menu:after{
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    content: "";
    display: inline-block;
    position: absolute;
    top: 65px;
    transform: translateY(-50%);
    width: 16px;

}

.fixed-plugin .dropdown-menu:before{
    border-bottom: 16px solid rgba(0, 0, 0, 0);
    border-left: 16px solid rgba(0,0,0,0.2);
    border-top: 16px solid rgba(0,0,0,0);
    right: -16px;
}

.fixed-plugin .dropdown-menu:after{
    border-bottom: 16px solid rgba(0, 0, 0, 0);
    border-left: 16px solid #fff;
    border-top: 16px solid rgba(0,0,0,0);
    right: -15px;
}

.modal{
    &.show{
        .modal-dialog{
            -o-transform: translate(0, 30%);
            -webkit-transform: translate(0, 30%);
            transform: translate(0, 30%);
        }
    }

    &.modal-mini{
        .modal-dialog{
            margin: 0 auto;
            max-width: 255px;
        }
    }

    .modal-content{
        .modal-header{
            border-bottom: 0;
            padding-bottom: 0;
            padding-left: 24px;
            padding-right: 24px;
            padding-top: 24px;

            .modal-profile{
                border-radius: 50%;
                box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
                height: 80px;
                line-height: 5.7;
                text-align: center;
                width: 80px;

                i{
                    font-size: 32px;
                    padding-top: 24px;
                }
            }
        }

        .modal-body{
            line-height: 1.9;
            padding-bottom: 16px;
            padding-left: 24px;
            padding-right: 24px;
            padding-top: 24px;
        }

        .modal-body + .modal-footer{
            padding-top: 0;
        }

        .modal-footer{
            -webkit-justify-content: space-between;
            border-top: 0;
            justify-content: space-between;
            padding-bottom: 16px;
            padding-left: 24px;
            padding-right: 24px;

            .btn{
                margin: 0;
                padding-left: 16px;
                padding-right: 16px;
                width: auto;

                &:hover,
                &focus{
                    text-decoration: none;
                }
            }
        }
    }
}
